nav {
    grid-area: mainMenu;
    z-index: 100;
    display: flex;
    flex-direction: column;
    position: sticky;
    width: 100%;
    height: 100%;
    background-image: url('../../images/menu.jpg');
    border-right: 7px groove silver;
}

#sideMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 92%;
    margin: 0;
    padding: 0;
}

#sideMenu li {
    transition: all 0.4s ease;
    width: 100%;
    height: 13.5%;
    list-style-type: none;
    border: groove silver;
    border-width: 5px 0px 5px 2px;
    background-image: url('../../images/menu.jpg');
}

.menuOption a {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: calc(0.6vw + 1vh);
    align-content: space-between;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.menuOption a img {
    width: 76%;
    height: 56%;
    margin-bottom: 4%;
}

#sideMenu li:hover, .menuOption:active, #sideMenu #actualPage {
    background-image: url('../../images/menuhover.jpg');
    width: 100%;
    border: groove silver;
    border-width: 5px 4px 10px 11px;
    margin-top: -5px;
    margin-left: 20px;
}

#contactBox {
    height: 8%;
    border: groove silver;
    border-width: 5px 0px 5px 0px;
    padding: 4% 0px 0px 8%;
}

#contactBox img.socialIcons {
    padding: 6% 0px 0px 6%;
    width: 35%;
    height: 35%;
}

footer
{
    grid-area: bottomFooter;
    background-image: url('../../images/menu.jpg');
    border-top: 5px groove silver;
    text-align: center;
    color: #B0B0B0;
    font-family: Gabriola;
    font-size: 1.1vw;
}
span#textFooter
{
    display: inline-block;
    padding-top: 5px;
}

a.links:link, a.links:visited, a.links:hover, a.links:active
{
    color: #B0B0B0;
    text-decoration: none;
    font-family: Gabriola;
}
a.links:hover, a.links:active
{
    color: #DEDEDE;
}

@media only screen and (max-width: 767px) {
    nav {
        flex-direction: row;
        border-right: 0;
        border-bottom: 7px groove silver;
    }
    #sideMenu {
        flex-direction: row;
        height: 100%;
        width: 92%;
        margin-left: 0;
    }

    #sideMenu li {
        margin-right: 0;
        width: 20%;
        height: 100%;
        border-width: 2px 5px 0px 5px;
        margin-left: 0;
    }

    .menuOption a {
        font-size: 3vw;

    }

    .menuOption a img {
        height: 50%;
        width: 80%;
    }
    
    #sideMenu li:hover, .menuOption:active, #sideMenu #actualPage {
        width: 20%;
        border: groove silver;
        border-width: 4px 5px 10px 5px;
        margin-left: 0;
    }

    #contactBox {
        height: 100%;
        width: 20%;
        border-width: 0px 8px 0px 8px;
        margin: 0;
        padding: 0;

    }

    #contactBox img.socialIcons {
        padding: 8% 0 0 8%;
    }

    footer {
        font-size: 3vw;
    }
}