body, #container, #middle_field {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/tlo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #b2b2b2;
    background-attachment: fixed;
    margin: 0px;
    height: 100vh;
    width: 100vw;
}

#container {
    display: grid;
    grid-template-columns:100px 1fr;
    grid-template-rows: 1fr 50px;
    grid-template-areas:
        "main_menu content"
        "main_menu content"
        "main_menu bottom_field";
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#middle_field {
        grid-area: content;
        background-color: rgb(255, 255, 255, 0.9);
        margin: 0px;
        padding: 0px;
}