nav {
    grid-area: mainMenu;
    z-index: 11;
    position: sticky;
    top: 0;
    background-image: url('../images/menu.jpg');
    border-right: 7px groove silver;
    margin: 0px;
    padding: 0px;
}

ul#sideMenu {
    margin: 0px;
    padding: 0px;
}

ul#sideMenu li {
    display: block;
    list-style-type: none;
    border: groove silver;
    border-width: 5px 0px 5px 2px;
    height: 120px;
    width: 100%;
    transition: all 0.4s ease;
    background-image: url('../images/menu.jpg');
}

ul#sideMenu li a {
    display: flex;
    flex-direction: column;
    height: 120px;
    text-align: center;
    font-size: 1.1vw;
    line-height: 18px;
    justify-content: center;
    align-items: center;
}

ul#sideMenu li a img {
    display: block;
    width: 70px;
    height: 70px;
    margin-bottom: 2px;
}

ul#sideMenu li:hover, ul#sideMenu li:active, ul#sideMenu li#actualPage {
    background-image: url('../images/menuhover.jpg');
    width: 90px;
    border: groove silver;
    border-width: 5px 4px 10px 11px;
    margin-top: -5px;
    margin-left: 20px;
}

ul#sideMenu li#actualPage {
    transition: 0s;
}

/*contact_box*/
nav div {
    border: groove silver;
    border-width: 5px 2px 5px 0px;
    padding: 2px 0px 0px 8px;
}

nav div img.socialIcons {
    padding: 5px 0px 0px 5px;
    width: 30px;
    height: 30px;
}

footer
{
    grid-area: bottomFooter;
    background-image: url('../images/menu.jpg');
    border-top: 5px groove silver;
    text-align: center;
    color: #B0B0B0;
    font-family: Gabriola;
    font-size: 1.1vw;
    line-height: 20px;
}
span#textFooter
{
    display: inline-block;
    padding-top: 5px;
}

a.links:link, a.links:visited, a.links:hover, a.links:active
{
    color: #B0B0B0;
    text-decoration: none;
    font-family: Gabriola;
}
a.links:hover, a.links:active
{
    color: #DEDEDE;
}